<h1>Create New Booking</h1>
<%= form_with url: "/bookings", method: :post do |form| %>
  <p>Departing from: <%= Airport.all.find(@flight.departing_airport_id).name %></p>
  <p>Arriving at: <%= Airport.all.find(@flight.arriving_airport_id).name %></p> 
  <p>Departure date and time: <%= @flight.start %></p>
 <% end %>
